<footer class="footer">
  <div class="footer-container">
    <div class="legal">
      <p>
        © 2025 Airbnb, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a> ·
        <a href="#">Sitemap</a> ·
        <a href="#">Company details</a>
      </p>
    </div>
    <div class="social">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
</footer>
