<nav class="navbar navbar-expand-md sticky-top custom-navbar shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand brand-icon" href="/home">
      <i class="fa-regular fa-compass"></i>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav nav-links">
        <a class="nav-link" href="/home">
          <i class="fa-solid fa-house"></i>
        </a>
        <a class="nav-link" href="/listings">
          <i class="fas fa-list"></i>
        </a>
        <a class="nav-link" href="/listings/new">
          <i class="fas fa-plus"></i>
        </a>
      </div>
      <div class="navbar-nav ms-auto nav-links">
        <% if(!currUser) { %>
        <a class="nav-link" href="/signup">
          Signup <i class="fa-solid fa-user-plus"></i>
        </a>
        <a class="nav-link" href="/login">
          Login <i class="fa-solid fa-right-to-bracket"></i>
        </a>
        <% }%>
        <% if(currUser) { %>
        <a class="nav-link" href="/logout">
          Logout <i class="fa-solid fa-right-from-bracket"></i>
        </a>
        <% }%>
      </div>
    </div>
  </div>
</nav>
