<% layout("layouts/boilerplate") %>

<div class="row">
  <div class="alert alert-danger col-6 offset-3" role="alert" 
       style="white-space: pre-wrap; word-break: break-word; overflow-wrap: break-word;">
    <h5 class="alert-heading"><%= message %></h5>
  </div>
</div>
